##### Question 1

```bash
docker run -it --entrypoint=bash  python:3.12.8
 pip --version

```

##### Prepare Postgres

In [27]:
import pandas as pd
import datetime
from sqlalchemy import create_engine

from time import time

In [5]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

engine.connect()

In [11]:
df = pd.read_csv('green_tripdata_2019-10.csv')
df_zone = pd.read_csv('taxi_zone_lookup.csv')

/tmp/ipykernel_8687/3947438715.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('green_tripdata_2019-10.csv')

In [16]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [ ]:
df.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')
df_zone.to_sql(name='taxi_zone_data', con=engine, if_exists='replace')

In [55]:
df_iter = pd.read_csv('green_tripdata_2019-10.csv', iterator=True, chunksize=100000)
df = next(df_iter)
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
df.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

%time df.to_sql(name='green_taxi_data', con=engine, if_exists='append')
while True: 
    t_start = time()

    df = next(df_iter)

    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    
    df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

CPU times: user 4.59 s, sys: 28.7 ms, total: 4.62 s
Wall time: 7.52 s
inserted another chunk, took 7.299 second
inserted another chunk, took 7.446 second

/tmp/ipykernel_64507/861712620.py:11: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk, took 7.379 second
inserted another chunk, took 5.154 second

StopIteration:

##### Q3

```sql
SELECT COUNT(*) FROM green_taxi_data WHERE trip_distance > 10;
```

##### Q4

```sql
SELECT lpep_pickup_datetime, trip_distance  FROM green_taxi_data WHERE trip_distance == (SELECT MAX(trip_distance) FROM green_taxi_data);
```

##### Q5

```sql
SELECT PULocationID, Zone, SUM(total_amount) AS Max_sum  FROM green_taxi_data  LEFT JOIN (SELECT * FROM taxi_zone_data) ON PULocationID = LocationID WHERE DATE(lpep_pickup_datetime) == '2019-10-18' GROUP BY ALL ORDER BY Max_sum DESC;
```

##### Q6

```sql
SELECT DOLocationID, Zone, MAX(tip_amount) AS Max_sum  FROM green_taxi_data  LEFT JOIN (SELECT * FROM taxi_zone_data) ON DOLocationID = LocationID WHERE PULocationID == 74 GROUP BY ALL ORDER BY Max_sum DESC;
```